.board-tabs{
    padding: 0;
    margin: 0;
}
.board-tabs ul{
    padding: 0;
    margin: 0;
}
.board-tabs li{
    border-bottom:0;
}

.transparent-border-color{
    border-color: transparent!important;
}