
.dashboard{
    background-color: var(--secondary-background-color);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header-wrapper{
    height: 60px;
    padding: 0
}
.side-col{
    background-color: var(--primary-background-color);
    height: calc( 100vh - 60px);
    border-radius: 0 var(--border-radius-big) 0 0;
    padding: 20px;
}

.childeren-col{
    background-color: var(--primary-background-color);
    height: calc(100vh - 60px);
    border-radius: var(--border-radius-big) 0 0 0;
    padding: 25px 35px;
    overflow-y: scroll;
}
.nav-list-item{
    margin-bottom: 10px;
    padding: 20px 15px;
    font-size: large;
}
.inner-div{
    padding: 30px;
    background-color: var(--primary-background-hover-color);
    border-radius: var(--border-radius-big);
}
.main-card{
    padding: 30px;
    background-color: var(--primary-background-hover-color);
    border-radius: var(--border-radius-big);
}

.breadcrumb-custom ol{
    margin: 0;
    padding: 0;
}
.custom-collapse-header{
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.custom-collapse-header:hover{
    background-color: transparent;
}
.custom-collapse-header h5{
    font-size: larger;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
}

.pulse-background-color{
    background-color: var(--pulse-background-color);
}